@model TicketPurchasingSystem.Models.TicketConfirmField

@{
    ViewBag.Title = "PurchageTicketConfirm";
}
<style>
    #BogyName{
        padding: 7px;
        width: 300px;
        border-radius: 5px;
        background: #232C47;
        border-color: #204c73;
    }
    #NumberOfSeat, .SeatNumber {
        padding: 5px;
        width: 300px;
        border-radius: 5px; 
        background: #232C47;
        border-color: #204c73;
    }
    .btn-submit{
        width: 150px;
        background: #232C47;
        border-color: #F27F00;
        border-radius: 30px;
        padding: 8px;
        color:white;
    }
    .btn-submit:hover{
        background: #2c385a;
    }
    h2, h4{
        text-align: center;
    }
    .label-for-input{
        width: 200px;
    }
</style>
<h2>PurchageTicketConfirm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TicketConfirmField</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfSeat, htmlAttributes: new { @class = " col-md-offset-2 label-for-input col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.NumberOfSeat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfSeat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeatNumber, htmlAttributes: new { @class = "label-for-input col-md-3 col-md-offset-2" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.SeatNumber, new { htmlAttributes = new { @class = "form-control SeatNumber" } })
                @Html.ValidationMessageFor(model => model.SeatNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BogyName, htmlAttributes: new { @class = "label-for-input col-md-3 col-md-offset-2" })
            <div class="col-md-7">
                @Html.DropDownList("BogyName", new List<SelectListItem> {
                    new SelectListItem{Text = "KA", Value="KA"},
                    new SelectListItem{Text = "KHA", Value="KHA"},
                    new SelectListItem{Text = "GA", Value="GA"},
                    new SelectListItem{Text = "GHA", Value="GHA"},
                    new SelectListItem{Text = "EO", Value="EO"},
                    new SelectListItem{Text = "CHA", Value="CHA"},
                     new SelectListItem{Text = "JA", Value="JA"},
                      new SelectListItem{Text = "JHA", Value="JHA"},
                      new SelectListItem{Text = "TA", Value="TA"},
                      new SelectListItem{Text = "THA", Value="THA"},
                }, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BogyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-submit" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
