@model CRUDProject.Models.ViewModel.VMProductInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFavorite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <label>Category</label>
        </dt>

        <dd>
            @ViewBag.CategoeyName
        </dd>
    </dl>
    <table>
        <tr>
            <td>
                <label>Image</label>
            </td>
            <td>
                @{
                    if (ViewBag.Img == "ProductsImg")
                    {
                        <p>Currently No Image Abailiable</p>
                    }
                    else
                    {
                        <img src="~/Content/Images/ProductsImg/@ViewBag.Img" alt="Product Image" width="240" height="240" />
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                <label>Thumbnail</label>
            </td>
            <td>
                @{
                    if (ViewBag.Thum == "ProductsThum")
                    {
                        <p>Currently No Image Abailiable</p>
                    }
                    else
                    {
                        <img src="~/Content/Images/ProductsImg/@ViewBag.Thum" alt="Product Image" width="240" height="240" />
                    }
                }
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>


