@model CRUDProject.Models.ViewModel.VMProductInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VMProductInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFavorite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFavorite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            <label>Category</label>
        </dt>

        <dd>
            @ViewBag.CategoryName
        </dd>

        <dt>
            <label>Image</label>
        </dt>

        <dd>
            @{
                if (ViewBag.Img == "ProductsImg")
                {
                    <p>No Image Abailiable</p>
                }
                else
                {
                    <img src="~/Content/Images/ProductsImg/@ViewBag.Img" alt="Product Image" width="240" height="240" />
                }
            }
        </dd>

        <dt>
            <label>Thumbnail</label>
        </dt>

        <dd>
            @{
                if (ViewBag.Thum == "ProductsThum")
                {
                    <p>No Image Abailiable</p>
                }
                else
                {
                    <img src="~/Content/Images/ProductsThum/@ViewBag.Thum" alt="Product Image" width="240" height="240" />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
