@model IEnumerable<MVCProject.Models.Product>
@{
    ViewBag.Title = "All Product";
}
<div class="container">
    <h1 class="text-center">Product Table</h1><hr style="border-color: #F25D07" />
    @Html.ActionLink("Create New Product", "Create", "Product", new { @class = "btn btn-primary" })
    <br />
    <br />
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Details</th>
                <th>Price</th>
                <th>StockQuantity</th>
                <th>IsActive</th>
                <th>IsFavorite</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Brand</td>
                        <td style="max-width:318px; text-overflow:ellipsis; overflow:hidden;white-space:nowrap;">@product.Details</td>
                        <td>@product.Price</td>
                        <td>@product.StockQuantity</td>
                        <td>@product.IsActive</td>
                        <td>@product.IsFavorite</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = product.ID }, null) |
                            @Html.ActionLink("Details", "Details", new { id = product.ID }, null) |
                            @Html.ActionLink("Delete", "Delete", new { id = product.ID }, null)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <h1>No Product added at this moment</h1>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



